<%= javascript_tag do %>
  var $content_body = '<%= raw @content.body.gsub("'", "\\\\'") %>';
<% end %>

<h1>Editing Content</h1>

<%= render 'form', content: @content %>

<%= link_to 'Show', @content %> |
<%= link_to 'Back', contents_path %>
