<header>
  <div class="nav">
   <ul>
    
    <li>
        <%= link_to "Home", root_path %>
      </li>
      
    <li>
        <%= link_to "Technology", technology_path %>
      </li>
    
    <li>
        <%= link_to "Book", book_path %>
      </li>
    
    <% if user_signed_in? %>
      <li>
        <%= link_to 'プロフィール変更', edit_user_registration_path %>
      </li>
      <li>
        <%= link_to 'ログアウト', destroy_user_session_path, method: :delete %>
      </li>
    <% end %>

    <li>
        <%= link_to 'お問い合わせ', inquiry_path %>
    </li>
    <li>
      <%= form_tag search_path, method: :post do %>
        <%= text_field_tag  :qkeyword %>
        <%= submit_tag '検索' %>
      <% end %>
    </li>

   </ul>
  </div>
</header>