<style>
.bg_1 {
  background-image: url(/images/top/top.png);
  background-size: cover;
  text-align: center;
}
.bg_4 {
  background-image: url(/images/top/app.png);
  background-size: cover;
  text-align: center;
}
.bg_5 {
  background-image: url(/images/top/book_pg.png);
  background-size: cover;
  text-align: center;
}

</style>
<div class="">
  <main id="fullpage">
    
    <!--トップページ-->
    <div class="section bg_1">
      <div class="slide top">
        <div class = "title">
          shfのmemo
        </div>

        <div class = "top-contents">
          <div class="row">
            <div class="col-md-4">
            </div>
            <div class="col-md-2">
              <div class="panel panel-default">
                <div class="panel-body">
                  <%= link_to detail_path(@new) do %>
                    <p><img src="images/top/topic.png" width="100px"/></p>
                  <% end %>
                </div>
                <div class="panel-footer">
                  <%= link_to detail_path(@new) do %>
                    <small>【New topic】新着記事</small>
                  <% end %>
                </div>
              </div>
            </div>
            
            <div class="col-md-2">
              <div class="panel panel-default">
                <div class="panel-body">
                  <%= link_to('/shf') do %>
                    <p><img src="images/top/info.png" width="100px"></p>
                  <% end %>
                </div>
                <div class="panel-footer">
                  <%= link_to('/shf') do %>
                    <small>【ふるしーってだれ？】<br>運営者へのお問い合わせ</small>
                  <% end %>
                </div>
              </div>
            </div>
            <div class="col-md-4">
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <!--アプリ画面 -->
    <div class="section bg_4">
      <div class = "title">
        App
      </div>
      <div class = "tech-contents">
        <div class="row">
          <div class="col-md-3">
          </div>

          <% @techs.each do |content| %>
            <div class="col-md-2">
              <div class="panel panel-default">
                <div class="panel-body">
                  <%= link_to image_tag(content.image1.url, { :border => '0', :class => "img_top"}), detail_path(content.id) %>
                </div>
                <div class="panel-footer">
                  <small><%= content.title %></small>
                </div>
              </div>
            </div>
          <% end %>
          
          <div class="col-md-3">
          </div>

        </div>
      </div>
      
      <%= link_to "For more Technology Infomation", technology_path ,class: "square_btn" %>
    </div>
    
    <!--本画面-->
    <div class="section bg_5">
      <div class = "title">
        Book
      </div>

      <div class = "book-contents">
        <div class="row">
          <div class="col-md-3">
          </div>

          <% @books.each do |content| %>
            <div class="col-md-2">
              <div class="panel panel-default">
                <div class="panel-body">
                  <%= link_to image_tag(content.image1.url, { :border => '0', :class => "img_top"}), detail_path(content.id) %>
                </div>
                <div class="panel-footer">
                  <small><%= content.title %></small>
                </div>
              </div>
            </div>
          <% end %>
          
          <div class="col-md-3">
          </div>
        </div>
      <%= link_to "For more Book Infomation", book_path ,class: "square_btn" %>

      </div>
    </div>
  </main>
</div>